// Banner area start here ***
.banner {
	&-area {
		overflow: hidden;
		padding-top: 250px;
		@include breakpoint(max-md) {
			padding-top: 150px;
		}
		@extend .overlay;
		&::before {
			background: linear-gradient(
				256.86deg,
				rgba(0, 0, 0, 0) 4.01%,
				#1b2c25 70.24%
			);
		}
	}
	&__content {
		max-width: 560px;
		h5 {
			color: var(--white);
			font-size: 20px;
			line-height: 30px;
			font-weight: 500;
			font-family: var(--inter);
			letter-spacing: 2px;
			text-transform: uppercase;
			margin-bottom: 10px;
			@include breakpoint(max-md) {
				font-size: 16px;
			}
		}
		h1 {
			color: var(--white);
			font-size: 90px;
			line-height: 95px;
			font-weight: 600;
			br {
				display: block !important;
			}
			span {
				color: #ffc632;
			}
			@include breakpoint(max-md) {
				font-size: 60px;
				line-height: 70px;
			}
		}
		p {
			color: #ffffffb2;
			margin-top: 20px;
			margin-bottom: 40px;
			@include breakpoint(max-md) {
				font-size: 16px;
				line-height: 28px;
			}
		}
		.btn-one {
			background-color: var(--primary-color);
			color: var(--white);
			i {
				color: var(--white);
			}
		}
		.btn-two {
			background-color: transparent;
			border: 1px solid #ffc53280;
			&:hover {
				i {
					color: var(--white);
				}
			}
		}
	}
	&__info {
		width: 190px;
		background-color: #eef9f3;
		border-radius: 12px;
		position: absolute;
		top: 225px;
		right: 29%;
		@include breakpoint(max-xxxl) {
			right: 25%;
		}
		@include breakpoint(max-xxl) {
			right: 24%;
		}
		@include breakpoint(max-xl) {
			right: 20%;
		}
		@include breakpoint(max-lg) {
			right: 2%;
		}
		@include breakpoint(max-md) {
			display: none;
		}

		h3 {
			font-size: 32px;
			line-height: 32px;
			font-weight: 600;
			color: var(--primary-color);
			span {
				color: var(--primary-color);
			}
		}
		h6 {
			color: var(--primary-color);
			font-weight: 600;
		}
		.content {
			padding: 18px;
		}
		.image {
			padding-bottom: 16px;
		}
		.line {
			position: absolute;
			bottom: -90px;
			right: 45px;
			z-index: -1;
		}
	}
	&-two {
		&-area {
			overflow: hidden;
			padding-top: 220px;
			padding-bottom: 360px;
			@include breakpoint(max-lg) {
				padding-top: 120px;
				padding-bottom: 200px;
			}
			@include breakpoint(max-md) {
				padding-top: 100px;
				padding-bottom: 110px;
			}
		}
		&__content {
			h1 {
				font-size: 64px;
				line-height: 80px;
				font-weight: 600;
				color: var(--white);
				@include breakpoint(max-lg) {
					font-size: 48px;
					line-height: 60px;
					img {
						max-width: 150px;
					}
				}
				@include breakpoint(max-sm) {
					font-size: 32px;
					line-height: 45px;
					img {
						max-width: 100px;
					}
				}
			}
			p {
				font-size: 20px;
				line-height: 32px;
				color: var(--paragraph-light);
				@include breakpoint(max-md) {
					font-size: 16px;
					line-height: 28px;
				}
			}
		}
		&__user {
			span {
				font-size: 20px;
				line-height: 32px;
				color: var(--white);
				@include breakpoint(max-md) {
					font-size: 16px;
					line-height: 28px;
				}
			}
		}
	}
	&-three {
		&-area {
			overflow: hidden;
			position: relative;
			z-index: 1;
			background: linear-gradient(
				180deg,
				rgba(255, 254, 239, 0.9) 0%,
				rgba(255, 255, 255, 0.9) 103.91%
			);
			padding-top: 250px;
			padding-bottom: 100px;
			@include breakpoint(max-lg) {
				padding-top: 120px;
				padding-bottom: 60px;
			}
		}
		&__content {
			max-width: 650px;
			span {
				font-size: 20px;
				line-height: 32px;
				letter-spacing: 1.2px;
				text-transform: uppercase;
				font-weight: 600;
				color: #235947;
				margin-bottom: 5px;
				@include breakpoint(max-md) {
					font-size: 16px;
					line-height: 28px;
				}
			}
			h1 {
				font-size: 60px;
				line-height: 76px;
				font-weight: 700;
				@include breakpoint(max-md) {
					font-size: 40px;
					line-height: 50px;
				}
			}
			p {
				font-size: 20px;
				line-height: 32px;
				margin-top: 20px;
				@include breakpoint(max-md) {
					font-size: 16px;
					line-height: 28px;
				}
			}
			.input-feild {
				margin-top: 40px;
				max-width: 575px;
				position: relative;
				box-shadow: 0px 2px 60px 0px #06120e0f;
				input {
					width: 100%;
					padding: 16px 20px;
					padding-left: 50px;
					border-radius: 18px;
					border: 1px solid var(--border-light);
					&::placeholder {
						color: var(--paragraph);
						font-size: 18px;
						line-height: 30px;
					}
				}
				button {
					padding: 8px 20px;
					color: var(--heading-color);
					font-size: 18px;
					line-height: 30px;
					background-color: var(--yellow-color);
					border-radius: 12px;
					position: absolute;
					top: 8px;
					right: 8px;
					@include breakpoint(max-md) {
						font-size: 16px;
						padding: 8px;
					}
				}
				svg {
					position: absolute;
					top: 23px;
					left: 23px;
				}
			}
		}
		&__image {
			max-width: 574px;
			position: absolute;
			bottom: 110px;
			right: 15%;
			@include breakpoint(max-xxl) {
				right: 5%;
			}
			@include breakpoint(max-xl) {
				display: none;
			}
			.here-bg {
				position: absolute;
				right: -10px;
				bottom: 0;
				z-index: -1;
			}
			.kit1 {
				position: absolute;
				top: 120px;
				left: 60px;
			}
			.kit2 {
				position: absolute;
				top: 18px;
				right: -86px;
			}
			.kit3 {
				position: absolute;
				bottom: 70px;
				right: -200px;
			}
		}
	}
	&-four {
		&-area {
			overflow: hidden;
			padding-top: 200px;
			position: relative;
			z-index: 1;
			@include breakpoint(max-lg) {
				padding-top: 130px;
			}
		}
		&__line {
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
		}
		&__content {
			h4 {
				font-size: 18px;
				line-height: 30px;
				font-weight: 500;
				color: var(--white);
				margin-bottom: 5px;
				.title-dot {
					@include radius(10px, 10px, 10px);
					background-color: #de9fff;
					display: inline-block;
					margin-right: 6px;
					border-radius: 3px;
				}
			}
			h1 {
				font-size: 100px;
				line-height: 110px;
				font-weight: 700;
				color: var(--white);
				@include breakpoint(max-lg) {
					font-size: 60px;
					line-height: 70px;
				}
				@include breakpoint(max-md) {
					font-size: 42px;
					line-height: 56px;
				}
			}
			p {
				font-size: 18px;
				line-height: 30px;
				color: #ffffffb2;
				max-width: 375px;
				@include breakpoint(max-lg) {
					font-size: 16px;
					line-height: 28px;
				}
			}
		}
		&__image {
			position: relative;
			.text-btn {
				position: absolute;
				top: -9%;
				right: 24%;
				@include breakpoint(max-sm) {
					top: -30%;
				}
			}
			.btn-circle {
				@include breakpoint(max-xl) {
					max-width: 140px;
				}
				@include breakpoint(max-lg) {
					max-width: 100px;
				}
			}
			.btn-arry {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				@include breakpoint(max-lg) {
					max-width: 30px;
				}
			}
		}
	}
	&-video {
		margin-top: -380px;
		@include breakpoint(max-lg) {
			margin-top: -200px;
		}
		@include breakpoint(max-md) {
			margin-top: -100px;
		}
		&__image {
			position: relative;
		}
		&__btn {
			position: absolute;
			top: 60px;
			right: 60px;
			@include breakpoint(max-md) {
				top: 30px;
				right: 30px;
			}
			&.inner-page {
				@include center;
				right: unset;
				.video-popup {
					background-color: var(--yellow-color);
					color: var(--white);
					font-size: 28px;
				}
			}
		}
	}
	&-inner {
		&-area {
			overflow: hidden;
			padding-top: 210px;
			padding-bottom: 120px;
			background: linear-gradient(
				180deg,
				rgba(255, 254, 239, 0.9) 0%,
				rgba(255, 255, 255, 0.9) 103.91%
			);
			@include breakpoint(max-lg) {
				padding-top: 120px;
				padding-bottom: 60px;
			}
		}
		&__content {
			text-align: center;
			max-width: 580px;
			margin: 0 auto;
			a,
			span {
				font-size: 20px;
				line-height: 32px;
				letter-spacing: 1.2px;
				font-weight: 600;
				color: #235947;
				text-transform: uppercase;
				@include breakpoint(max-sm) {
					font-size: 16px;
					line-height: 28px;
				}
			}
			h2 {
				font-size: 60px;
				line-height: 76px;
				font-weight: 300;
				margin-top: 5px;
				@include breakpoint(max-sm) {
					font-size: 40px;
					line-height: 56px;
				}
			}
			p {
				margin-top: 15px;
			}
		}
	}
}
// Banner area end here ***
