// Footer area start here ***
.footer {
	&-area {
		overflow: hidden;
	}
	&__wrp {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 30px;
	}
	&__item {
		h3 {
			margin-bottom: 24px;
			color: var(--white);
		}
		p {
			color: #ffffffb2;
		}
		label {
			color: #ffffffb2;
		}
		ul {
			li {
				&:not(:last-child) {
					margin-bottom: 12px;
				}
				a {
					font-size: 18px;
					color: #ffffffb2;
				}
			}
		}
		.social-icons {
			@include flex;
			gap: 15px;
		}
		&.footer-about {
			max-width: 300px;
		}
		&.footer-subscribe {
			max-width: 405px;
			.form-check-input {
				&:focus {
					box-shadow: none;
				}
			}
			.form-check-input:checked {
				background-color: #ffffff66;
				border-color: #ffffff66;
				&.light {
					background-color: #06120e66;
					border-color: #06120e66;
				}
			}
			.subscribe-feild {
				position: relative;
				input {
					padding: 15px 25px;
					border-radius: 16px;
					width: 100%;
					border: none;
					font-size: 18px;
				}
				button {
					padding: 15px 28px;
					color: var(--white);
					background-color: var(--primary-color);
					position: absolute;
					top: 0;
					right: -3px;
					border-top-right-radius: 16px;
					border-bottom-right-radius: 16px;
					i {
						transition: var(--transition);
					}
					&:hover {
						i {
							transform: rotate(45deg);
						}
					}
				}
			}
		}
		&.light {
			h3 {
				color: var(--heading-color);
			}
			ul {
				li {
					a {
						font-size: 18px;
						color: var(--paragraph);
					}
				}
			}
			label {
				color: var(--paragraph);
			}
			input {
				background-color: #06120e0a;
			}
			p {
				color: var(--paragraph);
			}
		}
	}
	&__copyright {
		border-top: 1px solid #ffffff33;
		padding: 20px 0;
		@include justify-wrp;
		gap: 10px;
		@include breakpoint(max-lg) {
			justify-content: center;
		}
		p {
			color: #ffffffb2;
			@include breakpoint(max-sm) {
				font-size: 14px;
			}
		}
		a {
			color: #ffffffb2;
			font-size: 18px;
			@include breakpoint(max-sm) {
				font-size: 14px;
			}
		}
		&.light {
			border-top: 1px solid var(--border);
			a,
			p {
				color: var(--paragraph);
			}
		}
		&.copy-right-four {
			border-top: 1px solid #ffffff1f;
		}
	}
	&-two {
		&-area {
			overflow: hidden;
			background-color: #13322e;
			position: relative;
			z-index: 1;
		}
		&__text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
		}
		&__wrp {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 30px;
		}
		&__item {
			.footer-menu {
				padding: 10px 24px;
				border: 1px solid #174d3b;
				border-radius: 100px;
				@include flex;
				gap: 30px;
				@include breakpoint(max-sm) {
					gap: 15px;
					padding: 8px 15px;
				}
				li {
					a {
						font-size: 18px;
						line-height: 30px;
						color: var(--white);
						@include breakpoint(max-sm) {
							font-size: 14px;
						}
					}
				}
			}
			.footer-link {
				@include flex;
				gap: 30px;
				li {
					a {
						color: var(--paragraph-light);
						font-size: 18px;
					}
				}
			}
			.goTop {
				color: var(--paragraph-light);
				font-size: 18px;
				float: right;
				@include breakpoint(max-lg) {
					float: left;
				}
			}
			.social-icons {
				@include flex;
				justify-content: center;
				gap: 15px;
				@include breakpoint(max-lg) {
					justify-content: left;
				}
			}
		}
	}
	&-three {
		&-area {
			@extend .footer-area;
			background: linear-gradient(
				180deg,
				rgba(255, 255, 255, 0.9) 78.16%,
				rgba(255, 254, 239, 0.9) 103.91%
			);
		}
	}
	&-four {
		&-area {
			position: relative;
			z-index: 0;
			@include breakpoint(max-xl) {
				background-color: #151314;
			}
		}
		&__bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
		&__bg-color {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: -1;
			width: 100%;
			@include breakpoint(max-xl) {
				display: none;
			}
			img {
				width: 100%;
			}
		}
	}
}
// Footer area end here ***
